<div class="login_container">
  <div>
  <h1>TodayDash</h1>
  </div>
 <div class="login">
  <div>Login</div><br>
    <%= form_tag(controller: :sessions, action: :create, method: "post") do %>

      <div class="field">
        <%= label_tag :email, "User Email" %>
        <%= text_field_tag :email, "", :class=> "user_email_input" %>
      </div>

      <div class="field-login">
        <%= label_tag :password, "Password" %>
        <%= password_field_tag :password, "", :class=> "login_password_input" %>
      </div>

      <div class="actions">
        <%= submit_tag "Log-In" %>
      </div>
    <% end %>
  </div>
</div>
