<div class="container">

<div class="header">
  <div class="left">
    <img src="http://placekitten.com/150/100">
  </div>
  <div class="center">
    <h1>Welcome, Username!</h1>
  </div>
  <div class="right">
  <img src="http://placekitten.com/150/100">
  </div>
</div>

<div class="content">
  <div class="twitter">
    <div class="top">
      Twitter
    </div>
    <div class="tweets">
    <%# loop through local and global trends and log each of them %>
      <div class="tweetset">
      <h2>Local Trends</h2>
      <% @local_trends.each_with_index do |tweet,index| %>
          <% if index < 10 %>

            <div class="tweet">
              <%= link_to tweet["name"], tweet["url"] %>
            </div>

          <% end %>
      <% end %>
      </div>
      <div class="tweetset">
      <h2>Global Trends</h2>
      <% @global_trends.each_with_index do |tweet,index| %>
          <% if index < 10 %>

            <div class="tweet">
              <%= link_to tweet["name"], tweet["url"] %>
            </div>

          <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="news">
    <% @response.each do |article| %>
    <p> <%= link_to article["webTitle"], article["webUrl"] %> </p>
  <% end %>
  </div>
  <div class="todo">

  <h2>Objectives</h2>

  <%= form_for Todo.new do |f| %>
    <div class="form-group">
     <%= f.text_field :item, placeholder: "what needs doing?" %>
    </div>
    <div class="form-group">
     <%= f.text_field :user_id, value: 1 %>
    </div>

  <% end %>

  <button class="submit_item">submit</button>

  <ul class="items">
  <% @todos.each do |todo| %>
    <li>
      <%= todo.item %><br>
    </li>
  <% end %>
  </ul>

  </div>
</div>

<div class="footer">
</div>

</div>
