<div class="container">

<div class="header">
  <div class="left"></div>
  <div class="center">
    <h1>Welcome, <%= @user.fname %>!</h1>
  </div>

  <div class="right">
    <img alt="<%= @results["weather"][0]["main"] %>" src="http://openweathermap.org/img/w/<%= @results["weather"][0]["icon"] %>.png">
    <div>
      <%= @results["main"]["temp"].to_i %>&#8457;
    </div>
  </div>
</div>

<div class="content">
  <div class="twitter">
    <div class="top">Trends</div>
    <div class="tweets">
    <%# loop through local and global trends and log each of them %>
    <%# each tweetset contains a header and div.tweet %>
    <%# local is rotated 180deg on Y, back of the "card" %>
      <div class="tweetset local">
      <h2>Local Trends</h2>
      <% if @local_trends %>
        <% @local_trends.each_with_index do |tweet,index| %>
            <% if index < 10 %>
              <div class="tweet">
                <%= link_to tweet["name"], tweet["url"] %>
              </div>
            <% end %>
        <% end %>
      <% end %>
      </div>
      <div class="tweetset global">
      <h2>Global Trends</h2>
      <% @global_trends.each_with_index do |tweet,index| %>
          <% if index < 10 %>
            <div class="tweet">
              <%= link_to tweet["name"], tweet["url"], target: "_blank" %>
            </div>
          <% end %>
      <% end %>
      </div>
    </div>
  </div>


  <div class="news">
    <div class="top">News</div>
    <%# added wrapper div for good scrolling action %>
    <div class="headlines">
    <% @response.each do |article| %>
      <p class="headline"> <%= link_to article["webTitle"], article["webUrl"], target: "_blank" %> </p>
    <% end %>
    </div>
  </div>

  <div class="todos">
    <div class="top">Todo</div>
    <%# added wrapper div for flexbox power %>
    <div class="form_and_button">
      <%= form_for Todo.new do |f| %>
        <div class="form-group">
         <%= f.text_field :item, placeholder: "what needs doing?" %>
        </div>
        <div class="form-group">
         <%= f.hidden_field :user_id, value: "#{@user.id}" %>
        </div>
      <% end %>
      <button class="submit_item">submit</button>
    </div>
    <ul class="items">
    <% if @todos %>
      <% @todos.each do |todo| %>
        <li id="todo_<%= todo.id %>" class="todo">
        <%# conditional check for completed items on initial pageload %>
        <% if todo.completed %>
          <input type="checkbox" checked>
          <span class="completed"><%= todo.item %></span>
        <% else %>
          <input type="checkbox">
          <span><%= todo.item %></span>
        <% end %>
          <button class="delete_todo">X</button>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>

<div class="footer">
    <%# moved signout link to footer instead of application.html.erb%>
    <%= link_to "Signout", "/signout", class: "signout" %>
    <%= form_for @user, method: :delete  do |f| %>
      <%= submit_tag("Delete Account") %>
    <% end %>
</div>

</div>
