<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in %>
    <%= yield %>
    <%= link_to "signout", "/signout" %>
  <% else %>
    <%= render "login_form" %>
    <hr>
    <%= render "create_form", user: @user %>
  <% end %>
  </body>
</html>
