<!DOCTYPE html>
<html>
  <head>
    <title>Today Dash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in %>
    <%= yield %>
  <% else %>
    <%= render "login_form" %>
    <%= render "create_form", user: @user %>
  <% end %>
  </body>
</html>
