<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>TodayDash</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="a personal dashboard with today dash">
    <meta name="keywords" content="today,dashboard,weather, news, twitter, facebook">
    <meta property="og:todaydash" content="Today dash">
    <meta property="og:image" content="link_to_image">
    <meta property="og:description" content="your personal dashboard">
    <meta name="twitter:title" or name="TODAY DASH">
    <meta name="twitter:site" content="www.todaydash.com">
    <meta name="twitter:description" content="Find your personal dash here!">
    <!--meta name="twitter:image" content=".jpg"-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'favicon' %>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Vollkorn" rel="stylesheet">
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in %>
    <%= yield %>
  <% else %>
    <%= render "login_form" %>
    <%= render "create_form", user: @user %>
  <% end %>
  </body>
</html>
